h1{
    font-size: 2em;
    padding-top: 4em;
}
.columbian, .coffee h1{
    padding: 1em;
    font-size: 1.75em;
    color: black;
}
.flavor-card{
    display: grid;
    justify-items: center;

}
.flavor-card .flavors{
    font-size: 0.8em;
}
.flavors{
    column-gap: 5px;
}
.aeropress, .bourbon, .chocolate, .cherry{
    padding-left: auto;
    padding-right: auto;
    margin-top: 1.5em;
}
.card .btn{
    border-radius: 0;
}
.card .btn:hover{
    background-color: darkgrey;
}
nav img, nav .img-fluid {
    max-width: 250px;
  }
.navbar {
    background: #000;
}
.flavor-profile , .coffee{
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
footer {
    color: white;
}
.brew-method{
    margin-top: 2em;
}

.size{
    padding-top: 2em;
}
.columbian-img {
    padding-top:100px;
    width: 100%;
    max-height: 70vh;
    height: 100%;
    object-fit: cover;
  }